@font-face {
    font-family: "KingthingsPetrock";
    src: url("../../asset/font/KingthingsPetrock.ttf");
}

@font-face {
    font-family: "KingthingsPetrock";
    src: url("../../asset/font/KingthingsPetrock.ttf");
    font-style: italic;
}

@font-face {
    font-family: "KingthingsPetrock";
    src: url("../../asset/font/KingthingsPetrock.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "KingthingsPetrock";
    src: url("../../asset/font/KingthingsPetrock.ttf");
    font-style: italic;
    font-weight: bold;
}

:root {
    --color-highlight: red;
    --color-text: black;
    --color-title: white;
    --color-border: black;
    --color-foreground: #7a1404;
    --color-shadow: #ab4c00;
    --color-success: green;
    --color-failure: red;
    --font-text: "KingthingsPetrock", serif;
}