<div class="dark-heresy chat roll">
    <div class="background border">
        {{# unless weaponTraits.skipAttackRoll}}
            <h1>{{name}} ({{target}})</h1>
            {{#if isSuccess}}
            <h3 style="font-size: 125%"><span style="color: var(--color-success); font-size: 125%">{{localize "CHAT.SUCCESS"}}</span> ({{result}})</h3>
            {{else}}
            <h3 style="font-size: 125%"><span style="color: var(--color-failure); font-size: 125%">{{localize "CHAT.FAILURE"}}</span> ({{result}})</h3>
            {{/if}}

            <p style="font-size: 125%">{{localize "CHAT.TEST_MODIFIER"}}: {{modifier}}</p>

            {{#if rolledWith}}
                <p style="font-size: 125%">{{localize "CHAT.ROLLED_WITH"}}: {{rolledWith}}</p>
            {{/if}}

            {{#if rangeText}}
                <p style="font-size: 125%">{{localize "CHAT.ATTACK_RANGE"}}: {{rangeText}}</p>
            {{/if}}

            {{#if attackType}}
                <p style="font-size: 125%">{{localize "CHAT.ATTACK_TYPE"}}: {{attackType.text}}</p>
            {{/if}}

            {{#if isSuccess}}
                <p style="font-size: 125%">{{localize "CHAT.DOS"}}: {{dos}}</p>
                {{#if numberOfHit}}
                <p style="font-size: 125%">{{localize "CHAT.NUMBER_OF_HIT"}}: {{numberOfHit}}</p>
                {{/if}}
            {{else}}
                <p style="font-size: 125%">{{localize "CHAT.DOF"}}: {{dof}}</p>
            {{/if}}
            {{#if psy.display}}
                {{#if psy.push}}
                <p style="font-size: 125%">{{localize "CHAT.PSY_RATING"}}: {{psy.value}} ({{localize "CHAT.PSY_PUSH"}})</p>
                {{else}}
                <p style="font-size: 125%">{{localize "CHAT.PSY_RATING"}}: {{psy.value}}</p>
                {{/if}}
                {{#if psy.hasPhenomena}}
                    {{#if psy.warpConduit}}
                        <p style="font-size: 125%"><strong style="color: var(--color-failure); font-size: 125%">{{localize "CHAT.HAS_PSYCHIC_PHENOMENA_WITH_WARPCONDUIT"}}</strong></p>
                    {{else}}
                        <p style="font-size: 125%"><strong style="color: var(--color-failure); font-size: 125%">{{localize "CHAT.HAS_PSYCHIC_PHENOMENA"}}</strong></p>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{else}}
            <h1 style="font-size: 125%">{{name}}</h1>
        {{/unless}}
        {{#each damages as |damage|}}
            <h3 style="font-size: 125%" class="separator damage-location" data-location={{location}}>{{localize location}}</h3>
            <div>
                <p style="font-size: 125%">{{localize "CHAT.DAMAGE"}}: <span class="damage-total" style="font-size: 100%">{{damage.total}}</span> <strong class="damage-type" style="font-size: 100%">{{../item.DamageTypeShort}}</strong></p>
            </div>
            <p style="font-size: 125%">{{localize "CHAT.PENETRATION"}}: <span class="damage-penetration" style="font-size: 100%">{{penetration}}</span></p>
            {{#if damage.righteousFury}}
            <p style="font-size: 125%">{{localize "CHAT.RIGHTEOUS_FURY"}}: <span class="damage-righteous-fury" style="font-size: 100%">{{damage.righteousFury}}</span></p>
            {{/if}}
        {{/each}}
    </div>
    
    <div class="dice-rolls" style="display:none">
        {{# unless weaponTraits.skipAttackRoll}}
            <div class="dice-roll-render">
                {{{render}}}
            </div>
        {{/unless}}
        {{#each damages as |damage|}}
            <div class="dice-roll-render">
                {{{damage.damageRender}}}
            </div>
        {{/each}}
    </div>
</div>
