.dark-heresy.ammunition .notes-editor {
    position: absolute;
    height: calc(100% - 207px);
    width: calc(100% - 16px);
    text-align: start;
}

.dark-heresy.ammunition .stats {
    position: absolute;
    height: calc(100% - 207px);
    width: calc(100% - 16px);
    align-content: start;
    align-items: center;
}

.dark-heresy.ammunition .stats .stats-row .stat.weapon input {
    margin-left: 22px;
    width: 337px;
}

.dark-heresy.ammunition .stats .stats-row .stat.quantity input {
    width: 4em;
    text-align: center;
}

.dark-heresy.ammunition .stats .stats-row .stat.damage input {
    width: 46px;
    text-align: center;
}

.dark-heresy.ammunition .stats .stats-row .stat.damage select {
    width: 9em;
    margin-left: 2px;
}

.dark-heresy.ammunition .stats .stats-row .stat.attack input {
    width: 4em;
    text-align: center;
}

.dark-heresy.ammunition .stats .stats-row .stat.craftsmanship select {
    width: 8em;
}

.dark-heresy.ammunition .stats .stats-row .stat.availability select {
    width: 8em;
}

.dark-heresy.ammunition .stats .stats-row .stat.weight input {
    width: 4em;
    text-align: center;
}

.dark-heresy.ammunition .stats .stats-row .stat.special input {
    width: 337px; //502px
}