.dark-heresy.force-field .notes-editor {
    position: absolute;
    height: calc(100% - 207px);
    width: calc(100% - 16px);
}

.dark-heresy.force-field .stats {
    position: absolute;
    height: calc(100% - 207px);
    width: calc(100% - 16px);
    align-content: start;
    align-items: center;
}

.dark-heresy.force-field .stats .stats-row .stat.weight input {
    width: 4em;
    text-align: center;
}