.dark-heresy.talent .notes-editor {
    position: absolute;
    height: calc(100% - 207px);
    width: calc(100% - 16px);
}

.dark-heresy.talent .stats {
    position: absolute;
    height: calc(100% - 207px);
    width: calc(100% - 16px);
    align-content: start;
    align-items: center;
}

.dark-heresy.talent .stats .stats-row .stat.aptitudes input {
    width: 416px;
}

.dark-heresy.talent .stats .stats-row .stat.tier input {
    width: 2em;
    text-align: center;
}

.dark-heresy.talent .stats .stats-row .stat.prerequisites input {
    width: 486px;
    margin-left: 13px;
}

.dark-heresy.talent .stats .stats-row .stat.benefit input {
    width: 465px;
}