.dark-heresy.trait .notes-editor {
    position: absolute;
    height: calc(100% - 207px);
    width: calc(100% - 16px);
}

.dark-heresy.trait .stats {
    position: absolute;
    height: calc(100% - 207px);
    width: calc(100% - 16px);
    align-content: start;
    align-items: center;
}

.dark-heresy.trait .stats .stats-row .stat.benefit input {
    width: 337px;
}